@model IEnumerable<WebApplication2.Models.ChiTietGioHang>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layoutNew.cshtml"; }

@foreach (var item in Model)
{


    <div class="container">
        <div class="py-5 text-center">
            <h2>THÔNG TIN ĐƠN HÀNG</h2>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Giỏ Hàng Của Bạn</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Tên Sản Phẩm</h6>
                            <small class="text-muted">Mô tả</small>
                        </div>
                        <span class="text-muted">12VND</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Tên Sản Phẩm</h6>
                            <small class="text-muted">Mô tả</small>
                        </div>
                        <span class="text-muted">8VND</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Tên Sản Phẩm</h6>
                            <small class="text-muted">Mô tả</small>
                        </div>
                        <span class="text-muted">5VND</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <span>Tổng Tiền (VND)</span>
                        </div>
                        <strong>25VND</strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">VUI LÒNG ĐIỀN ĐẦY ĐỦ THÔNG TIN</h4>
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Họ , Họ Lót</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Vui lòng điền họ hợp lệ
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Tên</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Vui lòng điền tên hợp lệ
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Số Điện Thoại <span class="text-muted"></span></label>
                        <input type="text" class="form-control" id="email" placeholder="Vui lòng nhập số điện thoại">
                        <div class="invalid-feedback">
                            Vui lòng nhập số điện thoại
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Địa Chỉ Giao Hàng</label>
                        <input type="text" class="form-control" id="address" placeholder="Vui lòng nhập địa chỉ" required>
                        <div class="invalid-feedback">
                            Vui lòng nhập địa chỉ vận chuyển của bạn.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address2">Địa Chỉ Khác<span class="text-muted">(Không bắt buộc)</span></label>
                        <input type="text" class="form-control" id="address2" placeholder="Vui lòng nhập địa chỉ khác">
                    </div>
                    <div class="mb-3">
                        <label for="address2">Ghi Chú<span class="text-muted"></span></label>
                        <input type="text" class="form-control" id="address2" placeholder="Vui lòng nhập ghi chú">
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="country">Quốc Gia</label>
                            <select class="custom-select d-block w-100" id="country" required>
                                <option value="">Choose...</option>
                                <option>United States</option>
                                <option>Vietnam</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="state">Chọn Voucher</label>
                            <select class="custom-select d-block w-100" id="state" required>
                                <option value="">Choose</option>
                                <option>Voucher 1</option>
                                <option>Voucher 2</option>
                                <option>Voucher 3</option>
                                <option>Voucher 4</option>
                                <option>Voucher 5</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="zip">Nhập code FreeShip</label>
                            <input type="text" class="form-control" id="zip" placeholder="" required>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="same-address">
                        <label class="custom-control-label" for="same-address">Địa Chỉ Giao Hàng Giống Với Địa Chỉ Thanh Toán Của Tôi</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="save-info">
                        <label class="custom-control-label" for="save-info">Lưu Thông Tin Này Cho Lần Sau</label>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">ĐẶT HÀNG</button>
                </form>
            </div>
        </div>

        <footer class="text-center">
            BAMINTON MATERIAL
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/4.3/examples/checkout/form-validation.js"></script>

}


 @*@ViewBag.Tong
                    @item.SanPham.TenSP*@